<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="datauploadtool.mysql.mapper.MemberMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="java.lang.Object">
        INSERT INTO news
        <set>
            <if test="title!=null and title!=''">
                title = #{title}
            </if>
            <if test="status!=null">
                status =#{status}
            </if>
        </set>
    </insert>
</mapper>
